/* General */
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.post-meta,
.blog-title,
.main-navigation,
.blog-description {
    font-family: 'Brandon Grotesque', sans-serif;
}

body {
    color: #333;
}

p {
    font-weight: 300;
}

a {
    text-decoration: none;
}

a:hover {
    color: #3dc4dd;
}

:focus {
    outline: none !important;
}


.blog-logo {
    position: relative;
    color: #fff !important;
}

.blog-logo:after, .blog-logo:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.blog-logo:before {
    top: -5px;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.blog-logo:hover::before, .blog-logo:focus::before, .blog-logo:hover::after, .blog-logo:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.blog-logo:after {
    bottom: -5px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
}

.post-content a {
    color: #3dc4dd;
    position: relative;
}

.post-content a:after {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #3dc4dd;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}

.post-content a:hover:after, .post-content a:focus:after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

.hentry {
    border-bottom: #e2e2e2 1px solid;
}

.hentry:after {
    border: #e2e2e2 1px solid;
}

.site-head {
    height: 400px;
    position: fixed;
}

.site-head:after {
    content: none;
}

.site-footer {
	color: #fff;
    background: #38cddd; */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    background: linear-gradient(to right, #38cddd, #588ae5);

}

.site-footer .copyright a {
	color: #fff;
	opacity: .8;
	transition: all .3s ease;
}

.site-footer .copyright a:hover {
	opacity: 1;
	color: #fff;
}

.post-footer {
    border-top: #e2e2e2 1px solid;
}



#content {
    width: 100%;
    background: #fff;
    z-index: 1;
    margin-top: 400px;
    position: relative;
}

#content:after {
    position: absolute;
    top: -5px;
    left: 50%;
    display: block;
    width: 7px;
    height: 7px;
    margin-left: -5px;
    content: '';
    border: #38cdde 1px solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    box-shadow: #fff 0 0 0 5px;
}

/* 2.2 COLUMN */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  overflow: hidden;
}

.col {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  width: 100%;
}

.col-8 {
  width: 66.6667%;
}

.col-6 {
  width: 50%;
}

.col-4 {
  width: 33.33%;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

.no-padding {
  padding: 0;
}




/* Widget Area */

.widget-area {
    color: #50585d;
}

.widget-area ul {
    margin: 0;
    padding: 0;
}

.widget-area ul li a {
    text-decoration: none;
}




/* Btn */

.btn-link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: inherit;
}






/* Navbar */

.main-navigation a {
    font-size: 14px;
    opacity: .8;
    transition: all .3s ease;
}

.main-navigation a:hover {
    background: transparent;
    opacity: 1;
}





/* Search */

.search-form.search-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-form {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100vh !important;
}

.search-open {
    opacity: 1;
    visibility: visible;
}

.search-form>* {
    z-index: 1;
}

.search-form:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.5s;
}

.search-open:before {
    opacity: 1;
}

.close-pop {
    font-size: 40px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.search-field {
    border: 0 !important;
    background: transparent;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    font-family: inherit;
    font-size: 5vw;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box !important;
    width: 60vw;
    padding: 0.05em 0 !important;
    color: #3dc4dd !important;
    border-bottom: 5px solid !important;
    transform: scale3d(0, 1, 1) !important;
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.search-open .search-field {
    transform: scale3d(1, 1, 1) !important;
    transition-duration: 0.5s;
}

.search-field:focus {
    outline: none;
}




/* Body resize when search opened */

body .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.5s, opacity 0.5s;
}

.wrapper.body-resize {
    transform: scale3d(0.7, 0.7, 1);
    opacity: 1;
}



/* body no scroll */

.no-scroll {
    overflow: hidden;
    background-color: #3ac9dd;
}


/* Show Widget Features */

.show-widgets {
    line-height: 2.4rem;
    position: absolute;
    top: -14px;
    left: 50%;
    width: 28px;
    height: 28px;
    margin-left: -15px;
    transition: box-shadow .5s;
    text-align: center;
    border: #ebf2f6 1px solid;
    border-radius: 50px;
    background: #49abe1;
}

.show-widgets:before {
	font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 8px;
    transition: color .5s ease;
    color: #ffffff;
}

.show-widgets:hover {
    transition: box-shadow .25s;
    box-shadow: rgba(0,0,0,.1)0 0 0 3px
}

.show-widgets:hover .tooltip {
    top: -33px;
    opacity: 1
}

.tooltip {
	width: 150px;
    transform: translateX(-50%);
    left: 50%;
}

/* Widget Area */
.widget-area {
	opacity: 0;
    visibility: hidden;
    transition: transform 0.5s, opacity 0.5s;
    transform: scale3d(0.7, 0.7, 1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.toggle-widget {
    opacity: 1;
    visibility: visible;
    transform: initial;
    transition: transform 0.5s, opacity 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100% !important;
    margin: 0;
    max-width: 100%;
    z-index: 1;
}

.widget-area:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.5s;
}

.toggle-widget:before {
	opacity: 1;
}

.widget {
	z-index: 1;
}

.widget-header {
	position: absolute;
	top: 100px;
}

/* Image */
.img-round {
    border-radius: 50%;
}

.img-medium {
    width: 200px;
    height: 200px;
}

.img-block {
    display: block;
}

.img-left {
    float: left;
    padding: 0 !important;
    margin: 0 30px 0 0 !important;
}

.img-right {
    float: right;
}

/* Content Style */
.title-center .post-title {
    text-align: center;
    padding: 0 !important;
    margin: 0 0 0 30px !important;
}

/**
 *
 * Components
 *
 */

/* 2.6 SKILLS METER */
.skills {
  margin-top: 40px;
  margin-bottom: 40px;
}

.skill-item {
  position: relative;
  clear: both;
  overflow: hidden;
  width: 100%;
  padding: 10px 0;
}

.skill-item p {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
}

.skill-item .skill-item .text-muted {
  float: right;
  color: #939393;
}

.skill-item .skill-percent-wrap {
  clear: both;
  overflow: hidden;
  height: 20px;
  background-color: #f5f5f5;
}

.skill-item .skill-percent {
  display: inline-block;
  width: 0;
  height: 20px;
  -webkit-transition: width 4s;
  transition: width 4s;
  background: #38cddd;
}

.skill-item .text-muted {
    float: right;
    color: #939393;
}

/* Contact Form */
.wpcf7-text, .wpcf7-textarea {
    width: 100%;
}

/* Button */
input.wpcf7-form-control.wpcf7-submit, 
.reply a,
.form-submit #submit {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 15px 60px;
    display: inline-block;
    margin: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border: 2px solid #50585b !important;
    color: #50585c !important;
    box-shadow: none;
    text-shadow: none;
    max-width: 100%;
    -webkit-appearance: none;
}

input.wpcf7-form-control.wpcf7-submit:hover, 
.reply a:hover,
.form-submit #submit:hover {
    color: #ffffff !important;
    background: #38cddd !important;
    border-color: #38cddd !important;
}


/* Read More */
a.read-more:after {
    content: none;
}

.read-more .meta-nav {
    left: -70%;
    opacity: 0;
    top: 1px;
    position: absolute;
    transition: all .3s ease;
}

.read-more:hover .meta-nav {
    left: 0;
    opacity: 1;
}

.read-more:hover .dot-readmore {
    opacity: 0;
}